@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    text-align: center;
}

h2{
    font-family: Source, sans-serif;
    font-size: 38px;
    background-color: #04146c;
    color: #fff;
    

}

h1{
     font-family: Source, sans-serif;
    font-size: 88px;
    color: #04146c;
    
}


h3{
   font-family: Source, sans-serif;
    font-size: 26px;
    color: #04146c;
}

img{
    width: 600px;
    border: 1px, solid, black;
}
main{
    width: 50%; 
}
p{
    font-family: Source, sans-serif;
    font-size: 24px;
    color: #04146c;
    background-color: #edf7ff;
}


